p{
	font-size: xx-large;
    font-family: serif;
    color: crimson;
}

body {
    background-color: lightblue;
}

#styleCenter{
	text-align:center;
}

.center{
	text-align:center;
}

.displayNone{
	display: none;
}