<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>Admin | Appointment</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport"></meta>
<meta th:replace="/csslines"></meta>
</head>
<body class="hold-transition skin-blue sidebar-mini" sec:authorize="isAuthenticated()">
	<!-- wrapper -->
	<div class="wrapper">

		<div th:replace="/topheader"></div>

		<div th:replace="/leftsidenav"></div>

		<div th:replace="${ view }"></div>

		<div th:replace="footer"></div>

		<div th:replace="contentslider"></div>

	</div>
	<!-- ./wrapper -->
	<div th:replace="jslines"></div>
	
</body>
<script th:replace="fragmentScript :: ${view}">

</script>

</html>
