 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<br/><br/>
	<section class="content-header">
	  <h1>
		Billing
	  </h1>
	  <ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Bill</li>
	  </ol>
	</section>
	
	<!-- Main content -->
	<section class="content">
		<div class = "row">
			<div class = "col-md-4">
				<div class="box box-primary">
					<div class="box-header">
						<div class="row">
							<div class="col-md-4">
								<h4>Saved Bills</h4>
							</div>
						</div>
						  <div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						  </div>
					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive no-padding" >
						
					  <table class="table table-bordered table-striped" id="savedBillsTable" style="width: 100%;">
						<thead id = "thead" >
							<tr>
								<th class="col-xs-2">Staff</th>
								<th class="col-xs-2" id ="styleCenter">Cust. Name</th>
								<th class="col-xs-1" id ="styleCenter"></th>
							</tr>
						</thead>
						<tbody  style="height:160px;overflow-y:auto;width: 100%;" id = "cpdbody">
							<tr>
							  <td class="col-xs-2">183</td>
							  <td class="col-xs-2">John Doe</td>
							  <td class="col-xs-1" id ="styleCenter"><button type="button" class="btn btn-link" data-toggle="modal" title="edit" data-target="#modal-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
							</tr>
							<tr>
							  <td>219</td>
							  <td>Alexander Pierce</td>
							  <td id ="styleCenter"><button type="button" class="btn btn-link" data-toggle="modal" title="edit" data-target="#modal-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
							</tr>
							<tr>
							  <td>657</td>
							  <td>Bob Doe</td>
							  <td id ="styleCenter"><button type="button" class="btn btn-link"  title="edit" data-toggle="modal" data-target="#modal-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
							</tr>
							<tr>
							  <td>219</td>
							  <td>Alexander Pierce</td>
							  <td id ="styleCenter"><button type="button" class="btn btn-link" data-toggle="modal" title="edit" data-target="#modal-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
							</tr>
						</tbody>
					  </table>
					</div>
					<!-- /.box-body -->
				</div>
			</div>
			<div class = "col-md-8">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h2 class="box-title"></h2>
						<h3 class="box-title">New Bill</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">				
								<div class="form-group">
									  <label>Customer Name :</label>
									  <input type="text" class="form-control" placeholder="Enter Customer Name"/>
								</div>
								<!-- phone mask -->
								<div class="form-group">
									<label>Phone :</label>
									<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-phone"></i>
									</div>
									<input type="text" class="form-control" data-inputmask="'mask': '(999) 999-9999'" data-mask="" />
									</div>
									<!-- /.input group -->
								</div>
								<!-- /.form group -->	
								<!-- phone mask -->
								<div class="form-group">
									<label>Select Staff :</label>
									<select class="form-control select2" style="width: 100%;">
									<option selected="selected">Select Staff</option>
									<option>John</option>
									<option>Doe</option>
									<option>Alexander</option>
									</select>
								</div>
								<!-- /.form group -->
							</div>			
							
							<div class="col-md-6">
								<!-- Date -->
								<div class="bootstrap-timepicker">
								  <div class="form-group">
									<label>Date:</label>
									<div class="input-group">
										<input type="text" class="form-control datepicker" id="datepicker"/>
									  <div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									  </div>
									</div>
									<!-- /.input group -->
								  </div>
								</div>
								<!-- /.form group -->
								
								<!-- time Picker -->
								<div class="bootstrap-timepicker">
									<div class="form-group">
										<label>Time :</label>
										<div class="input-group">
											<input type="text" class="form-control timepicker"/>
											<div class="input-group-addon">
												<i class="fa fa-clock-o"></i>
											</div>
										</div>
										<!-- /.input group -->
									</div>
									<!-- /.form group -->
								</div>
								
								<div class="form-group">
									<label>Membership :</label>
									<select class="form-control select2" style="width: 100%;">
									<option selected="selected">No</option>
									<option>Yes</option>				
									</select>
								</div>
							</div>
												
							<!-- /.col -->
						</div>
					<!-- /.row -->
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="submit" class="btn btn-primary pull-right">Make Bill</button>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<!-- /.content -->
 </div>
