<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<br>
	<br>
	<section class="content-header">
		<h1>Setup</h1>
		<ol class="breadcrumb">
			<li><a href="../index2.html" th:href="@{/person/home}"><i class="fa fa-dashboard"></i>
					Home</a></li>
			<li>setup</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row" >
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header">
					<h3>Membership</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body ">
						<div class="table-responsive no-padding">
							<table class="table table-bordered table-hover" id="setupMembershipTable"
								style="width: 100%;">
								<thead id="thead">
									<tr>
										<th class="col-xs-3">Id</th>
										<th class="col-xs-3">Name</th>
										<th class="col-xs-3">Duration</th>
										<th class="col-xs-3">Duration Type</th>
										<th class="col-xs-3">Price</th>
									</tr>
								</thead>
							</table>
							<div class="form-group">
								<div class="col-md-2">
									<p></p>
									<label>Filter :</label>
								</div>
								<div class="col-md-5">
									<select class="form-control select2" style="width: 100%;">
										<option selected="selected">Membership Type</option>
										<option>Gold</option>
										<option>Silver</option>
										<option>Diamond</option>
									</select>
								</div>
								<button type="button" value="addMembership" style = "width: 50px;height: 50px;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 25px;" class="btn btn-primary btn-lg pull-right setupModalView" title ="Add Membership" data-toggle="tooltip" data-placement="left"><i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header">
					<h3>Duration</h3>
						
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body ">
						<div class="table-responsive no-padding">
							<table class="table table-bordered table-hover" id="setupDurationTable"
								style="width: 100%;">
								<thead id="thead">
									<tr>
										<th class="col-xs-3">Id</th>
										<th class="col-xs-3">Duration</th>
										<th class="col-xs-3">Duration Type</th>
									</tr>
								</thead>
							</table>
							<div class="form-group">
								<div class="col-md-2">
									<p></p>
									<label>Filter :</label>
								</div>
								<div class="col-md-5">
									<select class="form-control select2" style="width: 100%;">
										<option selected="selected">Type</option>
										<option>Minutes</option>
										<option>Hours</option>
										<option>Months</option>
										<option>Years</option>
									</select>
								</div>
								<button type="button" value="addDuration" style = "width: 50px;height: 50px;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 25px;" class="btn btn-primary btn-lg pull-right setupModalView" title ="Add Duration" data-toggle="tooltip" data-placement="left"><i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
			</div>
		</div>
		<div class="row">
			
		</div>
	</section>
	
	<!-- Modals -->
	<!-- Add Membership Modal -->
	<div class="modal fade" id="setupAddMembershipModal">
		<div class="modal-dialog">
			<div class="modal-content">
			<form th:action="@{/admin/setup}" th:object="${membershipObject}" method="post">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" > Add Membership</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Membership Name :</label>
								<input type="text" class="form-control setupAddMembershipModalNameInp" name="name" placeholder="Enter Membership Name"/>
							</div>
							<div class="form-group">
								<label>Duration :</label>
								<select class="form-control select2" id="setupAddMembershipModalDurationDrpdwn" name="duration" style="width: 100%;">
									<option selected="selected">Select Duration</option>
								</select>
							</div>
							<div class="form-group">
								<label>Membership Price :</label>
								<input type="text" class="form-control setupAddMembershipModalPriceInp" name="price" placeholder="Enter Membership Price"/>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" >Close</button>
					<button type="submit" class="btn btn-primary setupAddMembershipModalSaveBtn">Save</button>
				</div>
				</form>
			</div>
		<!-- /.modal-content -->
		</div>
          <!-- /.modal-dialog -->
	</div>
	
	<!-- Add Duration Modal -->
	<div class="modal fade" id="setupAddDurationModal">
		<div class="modal-dialog">
			<div class="modal-content">
			<form th:action="@{/admin/setup}" th:object="${durationObject}" method="post">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" > Add Duration</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Duration :</label>
								<input type="text" class="form-control setupAddDurationModalDurationInp" name="durationPeriod" placeholder="Enter Duration"/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Duration Type :</label>
								<select class="form-control select2" style="width: 100%;" name="durationType">
									<option selected="selected" value="minutes" >Minutes</option>
									<option value="hours" >Hours</option>
									<option value="months" >Months</option>
									<option value="years" >Years</option>
								</select>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" >Close</button>
					<button type="submit" class="btn btn-primary setupAddDurationModalSaveBtn">Save</button>
				</div>
			</form>
			</div>
		<!-- /.modal-content -->
		</div>
          <!-- /.modal-dialog -->
	</div>
	<!-- End Modals -->
</div>
